
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* FONT FAMILY*/
/*-------------------------------------------------------------------------------------------------------------------------------*/

$fontfam: 'Venti';

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* SITE COLOURS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
$acc1:#f1673a;
$acc2:#354650;
$acc3:#FFFFFF;
$acc4:#c5c5c5;
$acc5:#f8f8f8;





.logo {

  @include breakpoint(small only) {
    margin: 15px auto;
    display: block;
    float: none;
  }

  width: 195px;
  height: auto;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 20px;

  .mtxt {
    font-family: Venti;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4rem;
    text-align: center;
    display: block;

    .ch1txt{
      @include transform(rotate(15deg));
      display: inline-block;
      color: $acc5;
    }

    .ch2txt{
      display: inline-block;
      color: $acc1 !important;
    }

    .ch3txt{
      @include transform(rotate(15deg));
      display: inline-block;
      color: $acc5;
    }

  }
  .stxt{
    color: $acc5;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-family: Venti;
  }
}

.bg-1 {
  background: $acc5 none repeat scroll 0 0;
}


.hero-banner{
  @include background-image('bg-header');
  background-size: cover;
  width: 100%;
 min-height: 600px;
}


// Menu Colours
$text-color: $acc3;
$menu-bg: $acc1;
$menu-hover: $acc1;


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* HEADER NAVIGATION START */
/*-------------------------------------------------------------------------------------------------------------------------------*/


nav {

    top: 0; // Fix the menu to the top
    position: fixed; // Fix the menu to the top
    width: 100%;
    background-color: $acc2;
    color: $text-color;
    z-index: 9999;
    border-bottom: 1px solid $acc4;

    ul {
      padding: 0;
      margin: 0;
      float: right;
      margin-top: 35px;

      @include breakpoint(small only) {
            float: none;
            display: none;
            height: auto;
          }

        li {
          display: inline;
          float: left;

            @include breakpoint(small only) {
            width: 100%;
            float: right;
            position: relative;
          }

            a {
              font-family: $fontfam;
              text-transform: uppercase;
              display: inline-block;
              text-decoration: none;
              padding: 10px 15px;
              color: $acc3;
              font-weight: bold;
              &:hover {
                background-color: lighten( $acc2, 10%);
                color: $acc3;
                    @include breakpoint(small only) {
                      background-color: $acc3;
                      color: $acc2;
                      }
              }
              &.active{
                background-color: lighten( $acc2, 10%);
                color: $acc3;
              }
              @include breakpoint(small only) {
                      border-bottom: 1px solid lighten( $acc2, 10%);
                      display: block;
                      text-align: left;
                      width: 100%;
                      text-indent: 25px;
                      color: $acc3;
                  }
            }

        }
    }

    a#openup {
        display: none;
      }

    @include breakpoint(small only) {
            a#openup:after {
              color: $acc3;
              font-family: FontAwesome;
              content: "\f0c9";
              font-size: 32px;
              width: 35px;
              height: 35px;
              display: inline-block;
              position: absolute;
              right: 48px;
              top: 35px;
            }
            a#openup {
              display: block;
              width: auto;

              &:hover {
                background-color: $acc3;
                color: $acc1;
              }
            }
    }

} //nav


.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* HEADER NAVIGATION END */
/*-------------------------------------------------------------------------------------------------------------------------------*/











/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 18 - TT-TAB-WRAPPER TYPE-1 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.tt-tab-wrapper .tt-tab-info{display:none;}
.tt-tab-wrapper .tt-tab-info.active{display:block;}
.tt-tab-wrapper .tt-tab-select select:focus{outline:none;}
.tt-tab-wrapper.type-1 .tt-nav-tab{font-size:0;font-size:0;border:1px solid #e1e1e1;-moz-border-radius:4px;border-radius:4px;overflow:hidden;}
.tt-tab-wrapper.type-1 .tt-tab-nav-wrapper{margin-bottom:60px;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item{display:inline-block;width:25%;height:115px;position:relative;padding:25px 15px 0 15px;text-align:center;cursor:pointer;border-right:1px solid #e1e1e1;vertical-align:top;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item:after{content:'';display:block;position:absolute;bottom:0;left:0;width:100%;height:3px;background:$acc1;-webkit-transform:translateY(100%);-moz-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item:first-child{padding-left:15px;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item .fa{display:inline-block;font-size:36px;color:#c5c5c5;margin-bottom:12px;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item .tt-analitics-text{display:block;height:36px;font-size:14px;line-height:18px;font-weight:400;color:#949494;overflow:hidden;-webkit-transition:all 300ms ease-in-out;-moz-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item:hover .fa,.tt-tab-wrapper.type-1 .tt-nav-tab-item.active .fa{
  color:$acc1;
}
.tt-tab-wrapper.type-1 .tt-nav-tab-item:hover .tt-analitics-text,.tt-tab-wrapper.type-1 .tt-nav-tab-item.active .tt-analitics-text{color:#30373b;}
.tt-tab-wrapper.type-1 .tt-nav-tab-item:hover:after,.tt-tab-wrapper.type-1 .tt-nav-tab-item.active:after{-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.tt-tab-wrapper.type-1 .tt-tab-select{display:none;position:relative;background:#fff;-webkit-box-shadow:0px 2px 4px 0px rgba(148,148,148,0.4);-moz-box-shadow:0px 2px 4px 0px rgba(148,148,148,0.4);box-shadow:0px 2px 4px 0px rgba(148,148,148,0.4);}
.tt-tab-wrapper.type-1 .tt-tab-select select{display:block;width:100%;font-weight:400;color:#b8b8b8;background:transparent;border:1px solid #eaeaea;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.tt-tab-wrapper.type-1 .tt-tab-select select::-ms-expand{display:none;}
.tt-tab-wrapper.type-1 .tt-tab-select .select-arrow{display:block;position:absolute;top:0px;right:0px;text-align:center;background:$acc1;color:#fff;pointer-events:none;}
.tt-tab-wrapper.type-1 .tt-tab-select select{height:42px;font-size:14px;line-height:30px;padding:0px 11px;}
.tt-tab-wrapper.type-1 .tt-tab-select .select-arrow{width:37px;height:42px;line-height:40px;}
@media (max-width:991px){
  .tt-tab-wrapper.type-1 .tt-tab-nav-wrapper{margin-bottom:30px;}
  .tt-tab-wrapper.type-1 .tt-tab-select{display:block;margin-bottom:30px;}
  .tt-tab-wrapper.type-1 .tt-nav-tab{display:none;}
  .tt-tab-wrapper.type-1 .tt-nav-tab-item{display:table;margin-right:auto;margin-left:auto;}
}


.tt-service-2{text-align:center;}

.tt-service-2-icon{
padding-top: 18px;
  display:block;
  width:100px;
  height:100px;
  background:$acc1;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:25px;
  cursor:pointer;
  @include border-radius(100%);
  @include transition(all 300ms ease-in-out);

  &:hover {
    background:$acc2;
  }

}
.tt-service-2-title{display:inline-block;margin-bottom:10px;}
.tt-service-2-title:hover{color:#fe969a;}
.tt-service-2.size-2 .tt-service-2-icon{width:90px;height:90px;}
@media (max-width:767px){
  .tt-service-2{max-width:480px;margin-left:auto;margin-right:auto;}
  .tt-service-2{max-width:480px;margin-left:auto;margin-right:auto;}
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 25 - TT-OFFER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.tt-offer{position:relative;}
.tt-offer img{width:100%;}
.tt-offer-screen{position:absolute;
  top:13%;
  left:15%;
  right:15%;
  padding-bottom:123%;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-size:cover;
  background-position:center center;
  z-index:-1;
}
@media (max-width:767px){
  .tt-offer{
    max-width:480px;
    margin-left:auto;
    margin-right:auto;
  }
}


.coge-icon {
  @include background-image('coge');
  display: block;
  height: 65px;
  width: 65px;
  margin: 0 auto;

}

.user-icon{
  @include background-image('user');
  display: block;
  height: 65px;
  width: 65px;
  margin: 0 auto;
}

.plane-icon{
  @include background-image('plane');
  display: block;
  height: 65px;
  width: 65px;
  margin: 0 auto;
}

.audit-icon{
  @include background-image('audit');
  display: block;
  height: 65px;
  width: 65px;
  margin: 0 auto;
}

.iphone-bg{
  @include background-image('audit');
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 51 - CUSTOM MARGINS */
/*-------------------------------------------------------------------------------------------------------------------------------*/




.marg-lg-b0{height:0px;}
.marg-lg-b5{height:5px;}
.marg-lg-b10{height:10px;}
.marg-lg-b15{height:15px;}
.marg-lg-b20{height:20px;}
.marg-lg-b25{height:25px;}
.marg-lg-b30{height:30px;}
.marg-lg-b35{height:35px;}
.marg-lg-b40{height:40px;}
.marg-lg-b45{height:45px;}
.marg-lg-b50{height:50px;}
.marg-lg-b55{height:55px;}
.marg-lg-b60{height:60px;}
.marg-lg-b65{height:65px;}
.marg-lg-b70{height:70px;}
.marg-lg-b75{height:75px;}
.marg-lg-b80{height:80px;}
.marg-lg-b85{height:85px;}
.marg-lg-b90{height:90px;}
.marg-lg-b95{height:95px;}
.marg-lg-b100{height:100px;}
.marg-lg-b105{height:105px;}
.marg-lg-b110{height:110px;}
.marg-lg-b115{height:115px;}
.marg-lg-b120{height:120px;}
.marg-lg-b125{height:125px;}
.marg-lg-b130{height:130px;}
.marg-lg-b135{height:135px;}
.marg-lg-b140{height:140px;}
.marg-lg-b145{height:145px;}
.marg-lg-b150{height:150px;}
.marg-lg-b155{height:155px;}
.marg-lg-b160{height:160px;}
.marg-lg-b165{height:165px;}
.marg-lg-b170{height:170px;}
.marg-lg-b175{height:175px;}
.marg-lg-b180{height:180px;}
.marg-lg-b185{height:185px;}
.marg-lg-b190{height:190px;}
.marg-lg-b195{height:195px;}
.marg-lg-b200{height:200px;}
.marg-lg-b205{height:205px;}
.marg-lg-b210{height:210px;}
@media (max-width:1199px){
  .marg-md-b0{height:0px;}
  .marg-md-b5{height:5px;}
  .marg-md-b10{height:10px;}
  .marg-md-b15{height:15px;}
  .marg-md-b20{height:20px;}
  .marg-md-b25{height:25px;}
  .marg-md-b30{height:30px;}
  .marg-md-b35{height:35px;}
  .marg-md-b40{height:40px;}
  .marg-md-b45{height:45px;}
  .marg-md-b50{height:50px;}
  .marg-md-b55{height:55px;}
  .marg-md-b60{height:60px;}
  .marg-md-b65{height:65px;}
  .marg-md-b70{height:70px;}
  .marg-md-b75{height:75px;}
  .marg-md-b80{height:80px;}
  .marg-md-b85{height:85px;}
  .marg-md-b90{height:90px;}
  .marg-md-b95{height:95px;}
  .marg-md-b100{height:100px;}
  .marg-md-b105{height:105px;}
  .marg-md-b110{height:110px;}
  .marg-md-b115{height:115px;}
  .marg-md-b120{height:120px;}
  .marg-md-b125{height:125px;}
  .marg-md-b130{height:130px;}
  .marg-md-b135{height:135px;}
  .marg-md-b140{height:140px;}
  .marg-md-b145{height:145px;}
  .marg-md-b150{height:150px;}
  .marg-md-b155{height:155px;}
  .marg-md-b160{height:160px;}
  .marg-md-b165{height:165px;}
  .marg-md-b170{height:170px;}
  .marg-md-b175{height:175px;}
  .marg-md-b180{height:180px;}
  .marg-md-b185{height:185px;}
  .marg-md-b190{height:190px;}
  .marg-md-b195{height:195px;}
  .marg-md-b200{height:200px;}
  .marg-md-b205{height:205px;}
  .marg-md-b210{height:210px;}
}
@media (max-width:991px){
  .marg-sm-b0{height:0px;}
  .marg-sm-b5{height:5px;}
  .marg-sm-b10{height:10px;}
  .marg-sm-b15{height:15px;}
  .marg-sm-b20{height:20px;}
  .marg-sm-b25{height:25px;}
  .marg-sm-b30{height:30px;}
  .marg-sm-b35{height:35px;}
  .marg-sm-b40{height:40px;}
  .marg-sm-b45{height:45px;}
  .marg-sm-b50{height:50px;}
  .marg-sm-b55{height:55px;}
  .marg-sm-b60{height:60px;}
  .marg-sm-b65{height:65px;}
  .marg-sm-b70{height:70px;}
  .marg-sm-b75{height:75px;}
  .marg-sm-b80{height:80px;}
  .marg-sm-b85{height:85px;}
  .marg-sm-b90{height:90px;}
  .marg-sm-b95{height:95px;}
  .marg-sm-b100{height:100px;}
  .marg-sm-b105{height:105px;}
  .marg-sm-b110{height:110px;}
  .marg-sm-b115{height:115px;}
  .marg-sm-b120{height:120px;}
  .marg-sm-b125{height:125px;}
  .marg-sm-b130{height:130px;}
  .marg-sm-b135{height:135px;}
  .marg-sm-b140{height:140px;}
  .marg-sm-b145{height:145px;}
  .marg-sm-b150{height:150px;}
  .marg-sm-b155{height:155px;}
  .marg-sm-b160{height:160px;}
  .marg-sm-b165{height:165px;}
  .marg-sm-b170{height:170px;}
  .marg-sm-b175{height:175px;}
  .marg-sm-b180{height:180px;}
  .marg-sm-b185{height:185px;}
  .marg-sm-b190{height:190px;}
  .marg-sm-b195{height:195px;}
  .marg-sm-b200{height:200px;}
  .marg-sm-b205{height:205px;}
  .marg-sm-b210{height:210px;}
}
@media (max-width:767px){
  .marg-xs-b0{height:0px;}
  .marg-xs-b5{height:5px;}
  .marg-xs-b10{height:10px;}
  .marg-xs-b15{height:15px;}
  .marg-xs-b20{height:20px;}
  .marg-xs-b25{height:25px;}
  .marg-xs-b30{height:30px;}
  .marg-xs-b35{height:35px;}
  .marg-xs-b40{height:40px;}
  .marg-xs-b45{height:45px;}
  .marg-xs-b50{height:50px;}
  .marg-xs-b55{height:55px;}
  .marg-xs-b60{height:60px;}
  .marg-xs-b65{height:65px;}
  .marg-xs-b70{height:70px;}
  .marg-xs-b75{height:75px;}
  .marg-xs-b80{height:80px;}
  .marg-xs-b85{height:85px;}
  .marg-xs-b90{height:90px;}
  .marg-xs-b95{height:95px;}
  .marg-xs-b100{height:100px;}
  .marg-xs-b105{height:105px;}
  .marg-xs-b110{height:110px;}
  .marg-xs-b115{height:115px;}
  .marg-xs-b120{height:120px;}
  .marg-xs-b125{height:125px;}
  .marg-xs-b130{height:130px;}
  .marg-xs-b135{height:135px;}
  .marg-xs-b140{height:140px;}
  .marg-xs-b145{height:145px;}
  .marg-xs-b150{height:150px;}
  .marg-xs-b155{height:155px;}
  .marg-xs-b160{height:160px;}
  .marg-xs-b165{height:165px;}
  .marg-xs-b170{height:170px;}
  .marg-xs-b175{height:175px;}
  .marg-xs-b180{height:180px;}
  .marg-xs-b185{height:185px;}
  .marg-xs-b190{height:190px;}
  .marg-xs-b195{height:195px;}
  .marg-xs-b200{height:200px;}
  .marg-xs-b205{height:205px;}
  .marg-xs-b210{height:210px;}
}








.hero-bg {
  margin-top: 85px;
  background:#222;
  height:100%;
  max-height:750px;
  width:100%;
  clear:both;
  position:relative;
  background:url(../img/bg-header.png) no-repeat bottom center;
  background-size:cover;

  @media (min-width:641px) and (max-width:1024px) {
    background:url(../img/bg-header.png) no-repeat bottom center;
    background-size:cover;
  }

  @media (min-width:1025px) and (max-width:1500px) {
    background:url(../img/bg-header.png) no-repeat bottom center;
    background-size:cover;
  }

  @media (min-width:1501px){
    background:url(../img/bg-header.png) no-repeat bottom center;
    background-size:cover;}


  .hero-content {

    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    height: 100%;

    h2 {
      color:#fff;
      font-size: 5.5rem;
      text-shadow: 0 1px 5px rgba(0,0,0,0.7);
      margin:0 0 20px;
      @include centerer;
      font-family: 'Venti';
      font-weight: 700;
      z-index: 2;
      text-transform: uppercase;


      @include breakpoint(small only) { font-size: 1rem; text-align: center;}
      @include breakpoint(medium only) { font-size: 3rem; text-align: center;}
      @include breakpoint(large only) {font-size: 6rem;}
    }

    a.btn {
      text-decoration:none;
      color:#005c9e;
      font-size:1.2em;
      border:1px solid #fff;
      padding:10px 20px;
      background:rgba(255,255,255,0.9);
      border-radius:5px;
    }

    .iphone {
      @include centerer;
      z-index: 1;
    }

  }


  }



h1, h2 , h3, h4, h5, h6,
.c-h1, .c-h2 , .c-h3, .c-h4, .c-h5, .c-h6 {
  font-family: 'Montserrat', sans-serif;
  color: $acc1;
}

h1,.c-h1{font-size:48px;line-height:58px;font-weight:700;}
h2,.c-h2{font-size:34px;line-height:40px;font-weight:700;}
h2 small,.c-h2 small{font-size:30px;line-height:36px;font-weight:700;}
h3,.c-h3{font-size:24px;line-height:28px;font-weight:700;color:#30373b;}
h3 small,.c-h3 small{font-size:21px;line-height:25px;font-weight:700;}
h4,.c-h4{font-size:18px;line-height:22px;font-weight:700;}
h5,.c-h5{font-size:16px;line-height:20px;font-weight:700;}
h6,.c-h6{font-size:14px;line-height:18px;font-weight:700;}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 26 - TT-BANNER */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.tt-banner{position:relative;}
.tt-banner-title{display:inline-block;margin-bottom:16px;}
.tt-banner-title:hover{color:$acc1;}
.tt-banner-info{padding-top:80px;padding-bottom:86px;}
.tt-banner-info .simple-text{margin-bottom:44px;}
.tt-banner-img{position:absolute;bottom:0;left:5%;max-width:39%;height:auto;}
.tt-banner-btn{font-size:0;margin-bottom:-15px;}
.tt-banner-btn a{display:inline-block;margin-right:20px;margin-bottom:15px;}
.tt-banner-form{margin-bottom:50px;}
.tt-banner.style-2 .tt-banner-img{max-width:45%;left:0;}
@media (max-width:991px){
  .tt-banner-info{padding-top:50px;padding-bottom:50px;}
  .tt-banner-img{left:0;}
  .tt-banner.style-2 .tt-banner-img{max-width:37%;}
  .tt-banner-info .simple-text{margin-bottom:30px;}
}
@media (max-width:767px){
  .tt-banner-info{padding-top:30px;padding-bottom:30px;}
  .tt-banner-img{display:none;}
  .tt-banner-form{margin-bottom:0px;}
  .tt-banner-form input[type="text"]{margin-bottom:30px;}
}




.app-list {
  list-style: none;
  margin: 0px;
  padding: 0;


  li {
    padding: 5px 0;
    display: block;
    margin: 0px;
    border-bottom: 1px solid $acc4;

    &:before {
      padding-right: 22px;
   content: "\f061";
      font-family: FontAwesome;
      font-size: 22px;
      color: $acc1;
    }
  }

  :last-child {
    border: none;
  }


}


//footer

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 48 - TT-CONTACT-FORM */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.tt-contact-form{text-align:center;}
.tt-contact-form .c-input{margin-bottom:20px;}
.tt-contact-form .c-area{margin-bottom:50px;}
.tt-request-success{display:none;margin-top:10px;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 49 - TT-FOOTER */
/*-------------------------------------------------------------------------------------------------------------------------------*/




footer {



  .button.btn-footer {
    background: $acc2;
    color: $acc5;
  }


  .btn-footer {
    @include breakpoint(small only) {
      @include button-expand();
    }
  }

  p , h3, h5 {
    color: $acc5;
  }

  background:$acc1;
  padding-top:75px;


  .tt-address-icon{
    float:left;
    font-size:18px;
    color:$acc5;
  }


  .tt-address-info{
    font-size:14px;
    line-height:22px;
    font-weight:400;
    color:$acc5;
    padding-left:28px;
    a {
      color:$acc5;
      &:hover {
        color:$acc5;
      }
    }
  }


  .tt-social{
    list-style:none;
    li {
      float:left;
      margin-right:22px;
      &:last-child {
        margin-right:0;
      }
    }
    a{
      font-size:18px;
      color:$acc5;
      &:hover {
        color:$acc3;

      }
    }
  }

  .tt-footer-form input[type="text"]{margin-bottom:20px;}
  .tt-footer-form .c-area{margin-bottom:20px;}
  .tt-footer-copy{
    border-top:1px solid #40474a;
    text-align:center;
    padding:18px 0;}

  .tt-footer-list {
    list-style:none;
    li {
      margin-bottom:22px;
      &:last-child{margin-bottom:0;}

    }
    a{
      font-size:14px;
      line-height:18px;
      font-weight:400;
      color:$acc5;
      &:hover {
        color:#fff;
      }
    }
  }

}




@media (max-width:991px){
  .tt-footer{padding-top:50px;}
}
@media (max-width:767px){
  .tt-footer{padding-top:30px;}
}



.button-google{
    @include background-image('android-app-on-google-play');
    background-size: cover;
    width: 180px;
    height: 59px;
}
